.vrr_api {
  position: relative;
  left: 200mm;
  top: 25mm;
}

.google_calendar_api{
  position: relative;
  left: 200mm;
  top: 60mm;
}

.weather_api{
  position: relative;
  left: 120mm;
  top: 10mm;
}

.clock{
  position: relative;
  left: 200mm;
  top: 10mm;
}

.date{
  position: relative;
  left: 200mm;
  top: 5mm;
}
